<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/main.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<title>Obsidian</title>
</head>
<body>
		{% include 'navbar.html'%}
	<div class= "container">
		{%block body%}{%endblock%}
	</div>


<script type="text/javascript" src= "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 
</v-stepper-content>
</body>
</html>